# Variável para nome do Projeto
COMPOSE_PROJECT_NAME=nome_do_projeto

# Configurações de Portas do LocalHost
DB_PORT_HOST=porta_local

# Configurações de Rede (Portas - MySQL)
DB_PORT=porta_do_mysql

# Credenciais do Administrador (Para você dar manutenção externa)
DB_ROOT_PASS=senha_root

# Credenciais da Aplicação (Para o Node.js se conectar com segurança)
DB_HOST=nome_do_banco
DB_NAME=nome_do_database
DB_USER=nome_do_user
DB_USER_PASS=senha_do_user

# Configurações de Rede (Portas - MySQL)
PHPMYADMIN_PORT=porta_do_phpmyadmin

#Middleware Session Secret
SESSION_SECRET=senha_do_session

# Crendicais dO Redis
REDIS_HOST=nome_do_host
REDIS_PORT=porta_do_redis